/* === 1. ПЕРЕМЕННЫЕ И НАСТРОЙКИ (ROOT) === */
:root {
  --color-bg-dark: #080808;
/* Accent */
  --color-accent: #e0b66c;
  --color-accent-hover: #EAB749;
/* border */
  --color-border: #e0b66c;
/* Text*/
  --color-text-primary: #ffffff;
  --color-text-muted: #b0ada7;
/* Прочие */
  --color-bg-input: #1c1e1e;
  --color-bg-card: rgba(47,44,44,0.2);

  /* Переменные шрифтов */
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Forum', serif;
  --font-accent: 'Frank Ruhl Libre', serif;
  --font-logo: 'Gwendolyn', cursive;
  --font-sans: 'Inter', sans-serif;
}

/* === 2. БАЗОВЫЕ СБРОСЫ (RESET) === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  line-height: 1;
  /*-webkit-font-smoothing: antialiased;  --  Неизвесное */
}

a {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}


/* === 3. ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР === */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 16px;
  width: 100%;
}



/* ====================== 4. КНОПКИ (UI BLOCK: .btn) ========================= */
.btn {
  font-family: var(--font-heading);
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 382px;
  min-height: 90px; /* Снижено с 90px для универсальности */
  padding: 16px 32px;
  border-radius: 50px;
  font-size: 32px;
  background: transparent;
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--color-accent-hover);
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--color-accent);
  color: #FFFFFF;
}
/*============*/
.btn--start {
  background: inherit;
}
.btn--pricing {
  font-family: var(--font-accent);
}
.form__btn {
  font-family: var(--font-accent);
  align-self: center;
  margin-top: 47px;
}


/* ======================= 5. ШАПКА (.header) ================================ */
.header {
  padding: 8px 16px;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  padding-top: 40px;
}
.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}
.header__burger svg {
  display: block;
}
.header__logo {
  font-family: var(--font-logo);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-accent);
}
.header__nav-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header__nav {
  display: flex;
  align-items: center;
}

.nav-menu__list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-accent-hover);
  padding: 8px 16px;
  gap: 50px;
  list-style: none;
}
.nav-menu__link {
  color: var(--color-text-primary);
  padding: 16px 8px;
  font-size: 20px;
  white-space: nowrap;
}
.nav-menu__link:hover {
  color: var(--color-accent-hover);
}
/* =========== Button смена языка  ========================= */
.header__lang {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.header__lang-current {
  color: var(--color-text-muted);
}
.header__lang-icon {
  width: 12px;
  height: 16px;
  color: inherit;
}
/* ====================== 7. СЕКЦИЯ HERO (.hero) ===================== */
.hero {
  position: relative;
  /*overflow: hidden; ------ для свечения */
  background-color: #0b0b0b;
  padding: 110px 0;
}
.hero__glow {
  position: absolute;
  width: 1143px;
  height: 190px;

  background-color: rgba(176,173,167,0.9);
  border-radius: 50%;
  filter: blur(200px);
  pointer-events: none;
  z-index: 1;
}
.hero__glow--top {
  top: 66px;
  left: 270px;
}
.hero__glow--bottom {
  top: 725px;
  left: 288px;
}

.hero__container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  position: relative;
  z-index: 10;
  max-width: 776px;
  width: 100%;
  flex-shrink: 0;
}

.hero__title {
  font-family: 'Syne', sans-serif;
  font-size: 96px;
  font-weight: 400;
  line-height: 1;
  width: 776px;
  height: 230px;
  text-transform: uppercase;
  color: var(--color-accent);
}

.hero__subtitle {
  font-family: var(--font-heading);
  font-size: 20px;
  width: 565px;
  height: 72px;
  line-height: 1;
  color: var(--color-text-primary);
  margin-bottom: 97px;
}
/* === hero img === */
.hero__image-wrapper {
  left: 0;
  bottom: 0;
  transform: translate(-280px, 100px);
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
.hero__image {
  width: 744px;
  height: 553px;
  display: block;
}
/* ====================== 8. СЕКЦИЯ SERVICES (.services) ================= */
.services {
  padding: 120px 0;
  position: relative;
}
/* ==========   Подсветка =================  */
.services__glow,
.pricing__glow {
  position: absolute;
  width: 720px;
  height: 715px;
  top: 5%;
  right: 5%;

  background-color: rgba(169,176,167,0.2);
  border-radius: 50%;
  filter: blur(200px);
  pointer-events: none;
  z-index: 1;
}
/* =============================== */
.services__subtitle,
.portfolio__subtitle,
.about__subtitle,
.workflow__subtitle {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-text-muted);
}
.services__title,
.portfolio__title,
.about__title,
.pricing__title,
.workflow__title {
  font-family: var(--font-heading);
  line-height: 1;
  font-size: 64px;
  font-weight: 400;
  padding: 10px 0;
}
.services__title--accent,
.about__title--accent,
.workflow__title--accent {
  color: var(--color-accent);
}
.services__description,
.workflow__description {
  font-family: var(--font-heading);
  font-size: 24px;
  color: var(--color-text-muted);
  margin-bottom: 50px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(301px, 590px));
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: var(--color-bg-card);
  border: 0.5px solid #E0B66C;
  padding: 45px 51px 51px 51px;
  min-height: 301px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, transform 0.3s ease;
}
.card__title {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-text-primary);
  margin-bottom: 20px;
}
.card__text {
  font-family: var(--font-body);
  font-weight: 400;
  max-width: 488px;
  max-height: 182px;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text-muted);
}
/* ======================= 9. СЕКЦИЯ PORTFOLIO (.portfolio) ============================ */
.portfolio {
  padding: 120px 0;
  position: relative;
}
/* ======================   ====================*/
.portfolio__glow,
.about__glow,
.workflow__glow,
.contacts__glow {
  position: absolute;
  width: 720px;
  height: 715px;
  top: 5%;
  right: 30%;

  background-color: rgba(176,173,167,0.3);
  border-radius: 50%;
  filter: blur(200px);
  pointer-events: none;
  z-index: 1;
}
/* ===================   ======================*/
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  align-items: start;
  margin: 50px 0;
}

.portfolio__card {
  overflow: hidden;
  background-color: var(--color-bg-card);
}
.portfolio__card:nth-child(3n + 2) {
  margin-top: 13px;
}
.portfolio__card:nth-child(3n) {
  margin-top: 27px;
}

.portfolio__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.portfolio__note {
  padding-top: 30px; 
  max-width: 752px;
  height: auto;
  font-weight: 400;
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 1;
  color: var(--color-text-primary);
}
/* ======================= 10. СЕКЦИЯ ABOUT (.about) ============================ */
.about {
  padding: 120px 0;
  position: relative;
}
.about__main {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
  align-items: start;
}

.about__title {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about__paragraph {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text-muted);
  margin-bottom: 30px;
}
.about__paragraph-accent{
  color: var(--color-accent);
}
/*======================*/
.about__photo-wrapper {
  margin-top: 35px;
}
/*===================================*/
.about__tags {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 14px;
  padding: 70px 0;
}
.about__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 60px;
  font-family: var(--font-heading);
  font-weight: 500;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #e0b66c 0%, #e5dbca 100%) 1;
  font-size: 20px;
  background: linear-gradient(180deg, #E0B66C 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* =================================== */
.about__features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 18px;
}
/*======================================*/
.feature-card {
  width: auto;
  height: 153px;
  border-radius: 20px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.feature-card__title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  background: linear-gradient(180deg, #E0B66C 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
/* ======================= 11. СЕКЦИЯ PRICING (.pricing) ========================== */
.pricing {
  padding: 120px 0;
  position: relative;
}

.pricing__title {
  margin-bottom: 50px;
}

.pricing__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 20px;
  margin-bottom: 80px;
}
/*========================================*/
.price-card {
  background-color: var(--color-bg-card);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 33px 22px;
  border-radius: 10px;
  width: 386px;
  height: 637px;
  display: flex;
  flex-direction: column;
}
.price-card__badge {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text-muted);
  text-transform: uppercase;
  display: block;
}
/*======= card, ceni, crony ===================*/
.price-card__price {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 34px 0;
  
}
.price-card__prefix {
  padding-bottom: 15px;
  font-family: var(--font-body);
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
.price-card__amount {
  font-family: var(--font-body);
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
.price-card__currency {
  padding-top: 20px;
  font-family: var(--font-body);
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-text-muted);
}
/*=========================================*/
.price-card__desc {
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
  color: var(--color-text-muted);
}
.price-card__subtext {
  border-bottom: 1px solid var(--color-text-muted);
}

.price-card__list {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.price-card__list li {
  position: relative;
  padding-left: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  display: block;
  text-align: left;
  color: #ffffff;
}
/* ============================================ */
.pricing__action {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* =============================== 12. СЕКЦИЯ WORKFLOW (.workflow) ======================= */
.workflow {
  padding: 120px 0;
  position: relative;
}
.workflow__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 20px;
}
/*======================*/
.step-card {
  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border);
  padding: 50px 45px;
}
.step-card__number {
  font-family: var(--font-body);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-accent);
  display: block;
}
.step-card__title {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  padding: 20px 0;
}
.step-card__text {
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-text-muted);
}
/* ======================== 12. СЕКЦИЯ WORKFLOW (.workflow) ====================== */
.workflow__scroll-top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0;
}
.btn-scroll-top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #EAB7492B;
  cursor: pointer;
  transition: backgraund-color 300ms ease, transform 300ms ease;
}
.btn-scroll-top:hover {
  background-color: #E0B66C9C;
}
.btn-scroll-top:active {
  background-color: #EAB7492B;
}

/* ========================= 13. СЕКЦИЯ CONTACTS (.contacts) ======================== */
.contacts {
  padding: 140px 0;
  position: relative;
}
.contacts__card {
  background-color: var(--color-bg-card);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 60px 36px 46px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
  overflow: hidden;
}
.contacts__title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 36px;
  color: var(--color-accent);
  text-transform: uppercase;
  padding-bottom: 20px;
}
.contacts__text {
  font-family: var(--font-heading);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 50px;
}

.contacts__preview {
  position: relative;
}
.contacts__preview-img {
  position: absolute;
  display: block;
  max-width: none;
  width: 594px;
  height: 509px;
  /*перемещение*/
  left: -45px;
  top: -23px;
}
/* ======================== 13. секция форма ( FORM )=====================*/
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__input,
.form__select,
.form__textarea {
  width: 510px;
  height: 56px;
  background-color: var(--color-bg-input);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 15px;
  color: var(--color-text-muted);
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  outline: none;
  transition: border-color 0.3s ease;
  appearance: none;
}
.form__input:focus,
.form__select:focus,
.form__textarea:focus {
  border-color: var(--color-accent);
}
.form__textarea {
  height: 225px;
  resize: none;
  overflow: hidden;
  padding-bottom: 45px;
  box-sizing: border-box;
}
/*=========================*/
.form__textarea-wrapper {
  position: relative;
  width: 100%;
}
.form__file-label {
  position: absolute;
  bottom: 16px;
  left: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.form__attach-icon {
  color: var(--color-text-muted);
  transition: color 0.3s ease;
}
.form__file-label:hover .form__attach-icon {
  color: var(--color-accent);
}
.form__select {
  appearance: none;
  -webkit-appearance: none;
  /**/
  background-image: url("img icon/стрелка\ вниз.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 16px;
  cursor: pointer;
  padding-right: 40px;
  transition: background-color 300ms linear, color 300ms linear;
}
.form__select:hover {
  background-color: var(--color-border);
  color: #000000;
}
/* ============================ 14. ФУТЕР (.footer) ============================= */
.footer {
  background-color: #171616;
  padding: 30px 0 10px;
}
.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.footer__brand {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  font-family: var(--font-logo);
  font-size: 50px;
  line-height: 1;
  color: var(--color-accent);
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}
/*============================*/
.footer__contact-email {
  font-family: var(--font-sans);
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-text-primary);
  margin-top: 100px;
}
.footer__contact-email a {
  font-family: var(--font-sans);
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-accent);
  text-decoration: none;
}
/*==================================*/
.footer__socials {
  display: flex;
  margin-top: 30px;
  gap: 43px;
}
.social-link {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.social-link:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
/*=====================================*/
.footer__nav {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__nav-link {
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  transition: color 0.3s ease;
}

.footer__nav-link:hover {
  color: var(--color-accent);
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  color: #6E6868;
  padding-top: 40px;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__legal {
  display: flex;
  gap: 24px;
}

.footer__legal a {
  font-family: var(--font-sans);
  font-size: 16px;
  color: #6E6868;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__legal a:hover {
  color: var(--color-accent);
}
/*============================================================
=========================   @media ( 768px)   ====================    
==============================================================*/





/*============================================================
=========================   @media ( 480px)   ====================    
==============================================================*/

 /* ====================  =========================== */

@media (max-width: 480px) {
  .container {
  max-width: 480px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.img {
  max-width: 100%;
  height: auto;
}
  /* ==================== button =========================== */
  .btn {
    width: 100%;
    max-width: 250px;
    font-size: 20px;
    padding: 29px 46px;
  }
  /* ==================== Header =========================== */
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }
  .header__burger {
    display: flex;
  }
  .header__logo {
    font-size: 36px;
  }
  .header__nav-wrapper {
    display: none;
  }
  /* ==================== Hero =========================== */
  .hero {
    padding: 60px 0;
    overflow: hidden;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__content {
    width: 100%;
    margin: 0 auto;
    display: contents;
  }
  .hero__subtitle {
    order: 3;
    padding: 50px 0;
    max-width: 340px;
  }
  .hero__title {
    order: 1;
    font-size: 40px;
    width: auto;
    height: auto;
  }
  .hero__image-wrapper {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    transform: none;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
  .hero__image {
    display: block;
    width: 100%;
    max-width: 373px;
    height: auto;
    margin: 0 auto;
  }
  .btn--start {
    margin-top: 40px;
    order: 4;
    padding: 29px 38px;
  }
  /* ==================== Services__grid =========================== */
  .services__grid,
  .portfolio__grid,
  .pricing__grid,
  .workflow__grid {
    grid-template-columns: 1fr; /* 1 columns*/
  }
  .services__title {
    font-size: 24px;
  }
  .card {
    width: 100%;
    max-width: 352px;
    padding: 24px 16px; /* Уменьшаем отступы */
    margin: auto;
    min-height: 208px;
    box-sizing: border-box;
  }
  .card__title {
    font-weight: 600;
    font-size: 20px;
  }
  .card__text {
    max-width: 346px; /* вместо width: 488px */
    font-size: 16px;
  }
  /* ==================== portfolio =========================== */
  .portfolio__title {
    font-size: 36px;
  }
  .portfolio__card {
    max-width: 410px;
    margin: auto;
  }
  .portfolio__note {
    padding: 0;
    width: 100%;
    font-size: 24px;
    height: auto;
  }
  /* ==================== About =========================== */
  .about__features {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0 30px;
  }
  .about__tags {
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
  }
  .about__tag {
    width: 175px;
  }
  .about__main {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about__text-content {
    display: contents;

  }
  .about__title {
    margin-bottom: 0;
    font-size: 36px;
    order: 1;
  }
  .about__photo-wrapper {
    display: flex;
    align-items: center;
    order: 2;
    margin: auto;
  }
  .about__photo {
    max-width: 283px;
  }
  .about__paragraph {
    margin-bottom: 15px;
    order: 3;
  }
  .about__content {
    display: contents;  
  }
  /* ===================== feature ========================= */
  .feature-card {
    width: 100%;
    max-width: 100%;
    min-height: 153px;
  }
  /* ==================== pricing =========================== */
  .pricing__grid {
    margin-bottom: 50px;
  }
  .pricing__action {
    padding-right: 25%;
  }
  .price-card {
    max-width: 350px;
  }
  .pricing__title {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .price-card__desc {
    font-size: 16px;
  }

  /* ==================== workflow =========================== */
  .workflow__title {
    font-size: 36px;
  } 
  .workflow__subtitle {
    font-size: 18px;
    line-height: 1;
  }
  .workflow__scroll-top {
    padding: 0;
  }
  /* ==================== stepcard =========================== */
  .step-card {
    width: 100%;
    max-width: 352px;
    padding-left: 15px;
    padding-top: 5px;
    box-sizing: border-box;
  }
  .step-card__number {
    padding-left: 20px;
  }
  /* ==================== contacts =========================== */
  .contacts {
    height: 1140px;
    width: 100%;
    height: auto;
  }
  .contacts__card {
    grid-template-columns: 1fr;
    border-radius: 20px;
    max-width: 412px;
    padding: 80px 31px;
  }
  .contacts__title {
    font-size: 30px;
  }
  .contacts__text {
    padding-bottom: 30px;
  }
  .contacts__preview-img {
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translate(-30px, -70px);
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  .contacts__form {
    position: relative;
    z-index: 2;
  }
  /* ==================== form =========================== */
  .form {
    gap: 32px;
  }
 
  .form__input, .form__select, .form__textarea {
    font-size: 16px;
    max-width: 330px;
  }
  /* ==================== Подзаголовки и Заголовки =========================== */
  .services__subtitle, .portfolio__subtitle, .about__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }
  .services, .portfolio, .about, .pricing, .workflow, .contacts {
    padding: 70px 0;
  }
  .services__description, .workflow__description {
    font-size: 16px;
    width: 351px;
  }
}